{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 4,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleAttributePerLine": false,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "printWidth": 120,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "app/app.css",
  "tailwindFunctions": [
    "cn",
    "cva"
  ]
}
